@font-face {
    font-family: 'Alata';
    src: url('font/Alata-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@keyframes side-item-in-right{
    from{
        left:-10rem;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}
@keyframes side-item-in-left{
    from{
        left:10rem;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}
@keyframes side-item-out-left{
    from{
        left:0;
        opacity: 1;
    }
    to{
        left: -10rem;
        opacity: 0;
    }
}
@keyframes side-item-out-right{
    from{
        left:0;
        opacity: 1;
    }
    to{
        left: 10rem;
        opacity: 0;
    }
}

.side-item-in-right{
    animation-name:side-item-in-right;
    animation-duration: 1s;
}
.side-item-in-left{
    animation-name:side-item-in-left;
    animation-duration: 1s;
}
.side-item-out-left{
    animation-name:side-item-out-left;
    animation-duration: 1s;
}
.side-item-out-right{
    animation-name:side-item-out-right;
    animation-duration: 1s;
}

body{
    font-family: Alata, sans-serif;
    background-color: #E5E5E5;
    font-size: 14px;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-top: 6%;
}

h6 {
    display: block;
    font-size: 1.2rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0.7rem;
    font-weight: bold;
}

#inside_title{
    margin-bottom: 1rem;
    border-bottom: 1px solid #14213D;
}


#header, 
#content, 
#footer{
    text-align: left;
    display: inline-block;
    position: relative;
}

#content{
    background-color: white;
    min-width: 980px;
    max-width: 980px;
    min-height: 35rem;
}

#header,
#footer{
    text-align: center;
    background-color: #14213D;
    color: white;
    height: 4rem;
    line-height: 4rem;
    vertical-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: calc( 980px - 4rem );
    max-width: calc( 980px - 4rem );
}

#header{
    font-size: 20px;
    text-align: left;
    color: #fca311;/*temp use, since lose relative color design in current device*/
}

#sidebar{
    width:10rem;
    left: 0px;
    top: 0px;
    background-color: #E5E5E5;
    padding: 1rem;
    min-height: calc( 100% - 3rem );
    position: absolute;
    border: white solid 0.5rem
}

#inside-cont, 
#page-url{
    width: calc( 980px - 14rem);
    left: 12rem;
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: #E5E5E5 solid 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: #E5E5E5 solid 0.5rem;
    margin-bottom: 0.5rem;
}
#page-url{
    height: 1rem;
}
#inside-cont{
    margin-top: -0.5rem;
    min-height: 32rem;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
}
#sidebar li{
    background-color: white;
    margin-bottom: 0.5rem;
    line-height: 2.5;
    border-radius: 10px;
}
.sidebar-text{
    text-align: left;
    max-width: 7rem;
    min-width: 7rem;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.sidebar-icon{
    text-align: right;
    max-width: 1rem;
    min-width: 1rem;
    float: right;
    display: block;
    padding-right: 0.5rem;
}
#sidebar .sidebar-level{
    display: none;
    height: 100%;
}
#sidebar #sidebar-level1{
    display: inline-block;
}
#sidebar .back-item{
    background-color: white;
    margin-bottom: 0.5rem;
    text-align: left;
    max-width: 9rem;
    min-width: 9rem;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 2.5;
    border-radius: 10px;
}

.side-item{
    position: relative;
}

#left-menu{
    position: absolute;
    top: 15px;
    left: 15px;
    border: solid 1px #fca311;
    display: none;
    line-height: 2rem;
    padding-left: 10px;
    padding-right: 10px;
}
#sidebar li,
#sidebar .back-item
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

button.sample-btn{
    border-radius: 10px;
    border: solid 2px #14213D;
    color: #14213D;
    font-size: 1rem;
    padding: 0.3rem;
    position: relative;
}

@media(max-width:980px){
    body{
        max-height: 100vh;
        box-sizing: border-box;
        min-height: 100vh;
    }
    html, body{
        position: fixed;
    }
    #header, 
    #content, 
    #footer{
        left: 0;
    }
    #header{
        padding-left: calc( 2rem + 35px);
        position: absolute;
        top: 0px;
    }
    #content{
        top: 89px;
        position: absolute;
    }
    #footer{
        position: absolute;
        bottom: 0px;
        padding-left: 0px;
    }
    #sidebar{
        left:-13rem;
        min-height: calc( 100% - 11rem );
        position: fixed;
        top: 4rem;
        z-index: 2;
        opacity: 0;
    }
    #inside-cont, 
    #page-url{
        left: 0;
        width: 100vw;
        height: auto;
    }
    #left-menu{
        display: inline-block;
    }
}