::-moz-selection {
    color: #14213D;
    background: #fca311;
}
::selection {
    color: #14213D;
    background: #fca311;
}


#sidebar li:hover,
#sidebar .back-item:hover
{
    border: 1px solid #fca311;
}

button.sample-btn:hover{
    transform: scale(1.05);
}
button.sample-btn:focus
{
    color: auto;
    background: auto;
    border:auto;
    border-radius: auto;
    outline: none;
}