::-moz-selection {
    color: #14213D;
    background: #fca311;
}
::selection {
    color: #14213D;
    background: #fca311;
}


#sidebar li:hover,
#sidebar .back-item:hover
{
    border: 1px solid #fca311;
}

button.sample-btn:hover{
    transform: scale(1.05);
}
button.sample-btn:focus
{
    color: auto;
    background: auto;
    border:auto;
    border-radius: auto;
    outline: none;
}
@media(max-width:980px){
    #content.cover::before{
        content: "";
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: black;
        z-index: 1;
        top: 0;
        left: 0;
    }
}
